@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");

.langingpage-container {
  display: flex;
  justify-content: space-around;
}

.landingpage-header {
  align-self: center;
}
.landingpage-header h1 {
  font-family: "Roboto Slab", serif;
  font-size: 44pt;
  margin-bottom: 0px;
  color: #1f1e1e;
}
.landingpage-header h3 {
  font-family: "Baloo 2", cursive;
  font-size: 23pt;
  color: #e4e6e6;
  text-transform: uppercase;
  margin-top: 0px;
}
.grandient {
  background: linear-gradient(to right, #36d1dc, #5b86e5);
  background-size: 400%;
  margin-top: 10%;
  animation: gradiente 5s infinite;
}
.quadra-bola {
  margin-right: 40px;
}

#bola {
  width: 20px;
  height: 20px;
  position: relative;
  top: -50px;
  left: 270px;
  animation: pulando 0.5s ease-out alternate infinite;
}

#sombra {
  border: 5px solid #312f2f;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  position: relative;
  top: -32px;
  left: 274px;
  background: #312f2f;
  transform: skew(59deg, -48deg);
  animation: sombra 0.5s ease-out alternate infinite;
}

#btn-call {
  text-decoration: none;
  font-size: 16pt;
  font-weight: bolder;
  background-color: #e4e6e6;
  border-radius: 13px;
  color: #5493e3;
  padding: 10px 30px 10px 30px;
  text-transform: uppercase;
  font-family: "Roboto Slab", serif;
  position: absolute;
  left: 40%;
  top: 60%;
  transition: 0.3s;
}
#btn-call:hover {
  background-color: #312f2f;
  transition: 0.3s;
  color: #e4e6e6;
}

/* Animações */

@keyframes pulando {
  to {
    transform: translateY(-40px);
  }
}

@keyframes gradiente {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes sombra {
  to {
    border: 2px solid #312f2f;
    top: -29px;
    left: 278px;
  }
}
